<section>
  <article>
    <h3>
      Class e Style Binding
    </h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerts</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>

      <div class="alert {{classe.value}}" role="alert">
        Texto colorido confirme valor do combobox
      </div>

      <div class="alert" role="alert" [class.alert-success]="classe.value=='alert-sucess'">
        Sucesso
      </div>
      <div class="alert" role="alert" [class.alert-info]="classe.value=='alert-info'">
        Info
      </div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value=='alert-warning'">
        Atenção
      </div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value=='alert-danger'">
        Erro!
      </div>
      <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">
        esse texto só aparece se houver erro
      </div>
    </div>
    <button class="btn btn-primary">Primeiro Botão com Bootstrap</button>
    <br><br>
  </article>
</section>
