<section>
    <article>
        <h3>Two way data binding</h3>
        <div>
            <!-- <input type="text"
            [value]="nome"
            (input)="nome = $event.target.value">
            <p>Você digitou o nome: {{nome}}</p> -->
            <br>
            <input type="text"
            [ngModel]="nomeUm"
            (ngModelChange)="nomeUm = $event">
            <input type="text" [(ngModel)]="nomeUm">
        </div>
        <div>
            <input type="text" [(ngModel)]="pessoa.nomeUm">
            <input type="text" [(ngModel)]="pessoa.idade">
            <p>Meu nome é {{pessoa.nomeUm}} e tenha {{pessoa.idade}} anos de idade</p>
        </div>
        <app-input-outpt-compo [nome]="NomeCurso"></app-input-outpt-compo>
    </article>
</section>